<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>Vente en Ligne</title>

<!-- Bootstrap core CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="/css/index.css" rel="stylesheet">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<a class="navbar-brand" href="#">Electromenager</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link" th:href="@{/}"
					href="#">Home </a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/admin/products}" href="#">Products</a>
				</li>
			</ul>
			<nav>
				<ul class="navbar-nav text-right">
					<li class="nav-item"><a class="nav-link" th:href="@{/cart_shopping}" href="#">Shopping
							Cart</a></li>
							<li class="nav-item"><a class="nav-link" href="#">ADMIN</a>
					<li class="nav-item"><a class="nav-link" th:href="@{/}" href="#">Log Out</a>
					</li>

				</ul>
			</nav>
		</div>
	</nav>
	<div class="jumbotron text-center">
		<h1 class="display-4">Admin Space</h1>
		<p>
			Easily manage your data from this admin
			
		</p>
	</div>

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 pt-3">
				<div class="card" style="background-color: white;">
					<div class="card-body">
						<h4 class="card-title">Categories</h4>
						<p class="card-text">Manage the categories section here.</p>
						<a href="#" th:href="@{/admin/categories}" class="card-link btn btn-primary">Manage</a>

					</div>
				</div>
			</div>
			<div class="col-sm-3 pt-3">
				<div class="card" style="background-color: white;">
					<div class="card-body">
						<h4 class="card-title">Products</h4>
						<p class="card-text">Manage all the products here.</p>
						<a href="#" th:href="@{/admin/products}" class="card-link btn btn-primary">Manage</a>

					</div>
				</div>
			</div>
			<div class="col-sm-3 pt-3">
				<div class="card" style="background-color: white;">
					<div class="card-body">
						<h4 class="card-title">Users</h4>
						<p class="card-text">Manage list of ALL Users here.</p>
						<a href="#" th:href="@{/admin/list_users}" class="card-link btn btn-primary">Manage</a>

					</div>
				</div>
			</div>

		</div>
	</div>








	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script>
		window.jQuery
				|| document
						.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')
	</script>
	<script src="../../assets/js/vendor/popper.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>